<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>xjr-ajax</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <a href = '/'><h2 class="display-3 text-center border-success shadow-lg" data-bss-hover-animate="pulse">Node and Xml Project</h2><br><br><br><br></a>
    <hr>
    
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="/">Home Page - </a>
            <% if(user !== null){ %>
                <h3><u><i><%= user.email %></i></u></h3>
            <% } %>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <% if(user !== null){ %>
                        <li class="nav-item"><a class="nav-link active" href="#">Log in</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Sign up</a></li>
                    <% }else{ %>
                        <li class="nav-item"><a class="nav-link active" href="/user/login">Log in</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/signup">Sign up</a></li>
                    <% } %>
                    <li class="nav-item"><a class="nav-link" href="/user/logout">Log out</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1
                    class="display-2 text-capitalize text-center text-success bg-light border rounded-0 border-secondary shadow">
                    Using get request</h1>
                <div>
                    <hr /><a href="/blog/all"><button id = '1' class="btn btn-success btn-lg text-capitalize text-center border-primary" type="submit" style="  padding-left: 20px;
                        padding-right: 15px; margin-left: 30px;
                      ">Get Mongodb Data</button></a>
                                  <button id = '2' class="btn btn-success btn-lg text-capitalize text-center border-primary" style="  padding-left: 20px;
                        padding-right: 15px;margin-left: 30px;
                      ">Get Mongodb data (XML)</button>
                </div>
                <ul class="text-capitalize text-center text-dark bg-light" id = 'list'>
                    <% if( typeof(blogs) !== "undefined" && blogs.length > 0){ %>
                        <% blogs.forEach(blog => {%>
                            <li id = 'g1'><a href = '/blog/<%= blog._id %>'><%= blog.title %> |||</a></li> 
                        <% }) %>
                    <% } %>
                </ul>
            </div>
            <div class="col-md-6">
                <h1
                    class="display-2 text-capitalize text-center text-success bg-light border rounded-0 border-secondary shadow">
                    Using Post request</h1>
                <div>
                    <hr />
                </div>
                <ul class="text-capitalize text-center text-dark bg-light">
                    <form action = "/blog" method = "POST" id="form">
                    <li><label for="Title">Title of your blog :</label>
                    <input type="text" id="Title" name="title" required></li>
                    <li><label for="Body">Content of your blog :</label>
                    <textarea id="Body" name="content" form="form" required></textarea></li>
                    <button class="btn btn-success btn-lg text-capitalize text-center border-primary" type="submit" style="padding-left: 10px;padding-right: 10px;margin-left: 30px;">Submit data</button>
                    </form>
                    <button id = 'xp' class="btn btn-success btn-lg text-capitalize text-center border-primary" type="submit" style="padding-left: 10px;padding-right: 10px;margin-left: 30px;">Submit via XML</button>
                    
                </ul>
            </div>
        </div>
    </div><br><br><br>
    <hr>
    <div class="container text-center bg-white border rounded-0 border-success shadow-lg">contact: <a
            href="https://github.com/mohitdmak">mohitdmak</a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <!--<script src="assets/js/vanilla-app.js"></script>-->
    <script src="assets/js/mongo-get.js"></script>
</body>

</html>