<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>xjr-ajax</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h2 class="display-3 text-center border-success shadow-lg" data-bss-hover-animate="pulse">LEARNING XHR REQUESTS
        HANDLING USING AJAX</h2><br><br><br><br>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1
                    class="display-2 text-capitalize text-center text-success bg-light border rounded-0 border-secondary shadow">
                    Using get request</h1>
                <div>
                    <hr /><button id = '1' class="btn btn-success btn-lg text-capitalize text-center border-primary" type="submit" style="  padding-left: 20px;
          padding-right: 20px; margin-left: 30px;
        ">Get JSON data (xml)</button>
                    <button id = '2' class="btn btn-success btn-lg text-capitalize text-center border-primary" type="submit" style="  padding-left: 20px;
          padding-right: 20px;margin-left: 30px;
        ">Get Mongodb data</button>
                </div>
                <ul class="text-capitalize text-center text-dark bg-light">
                    <% if( typeof(topics) !== "undefined" && topics.length > 0){ %>
                        <% topics.forEach(topic => {%>
                            <li id = 'g1'><%= topic.title %> ||| <%= topic.content %></li> 
                        <% }) %>
                    <% }else{ %>
                        <li id = 'g1'>Item 1</li>
                        <li id = 'g2'>Item 2</li>
                        <li id = 'g3'>Item 3</li>
                        <li id = 'g4'>Item 4</li>
                    <% } %>
                </ul>
            </div>
            <div class="col-md-6">
                <h1
                    class="display-2 text-capitalize text-center text-success bg-light border rounded-0 border-secondary shadow">
                    Using Post request</h1>
                <div>
                    <hr /><button class="btn btn-success btn-lg text-capitalize text-center border-primary" type="submit" style="  padding-left: 10px;
          padding-right: 10px;margin-left: 30px;
        ">Post JSON data</button>
                </div>
                <ul class="text-capitalize text-center text-dark bg-light">
                    <li class="text-dark">Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                </ul>
            </div>
        </div>
    </div><br><br><br>
    <hr>
    <div class="container text-center bg-white border rounded-0 border-success shadow-lg">contact: <a
            href="https://github.com/mohitdmak">mohitdmak</a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/vanilla-app.js"></script>
    <script src="assets/js/mongo-get.js"></script>
</body>

</html>